/* 饼图表组件对象 */
.h5_component_pie{}
.h5_component_pie canvas{position: absolute;left: 0;top: 0;width: 100%;height: 100%;}  /*用canvas做动画，会进行分层，要用到z-index*/
.h5_component_pie .text{position: absolute;z-index: 99;height: 24px;transition: all 1s;text-align: center;}
